@import "../../../styles/scss/shared.scss";

.counter {
    @include flex(space-around, center)
    //display: inline-block;
    cursor: pointer;
    border-radius: 40px;
    width: 94px;
    height: 40px;
    background-color: #E2E9F0;
    &__item {
        @include font-source-sans(20px, #000, 400);
        width: 30px;
        text-align: center;
    }
}