@import "./src/shared/styles/scss/shared";

.comparePage {
  @include flex(start, start);
  max-width: 1806px;
  padding: 200px;

  &__wrapper{
    display: grid;
    grid-template-rows: 380px repeat(4, 144px) 100px;
    grid-row-gap: 16px;
    max-width: 400px;
    &:last-child > span {
      border-bottom-right-radius: $border-radius ;
      border-top-right-radius: $border-radius ;
    }
    &:first-child>span {
      border-bottom-left-radius: $border-radius ;
      border-top-left-radius: $border-radius ;
    }
  }

  &__header{
    @include font-source-sans(24px, 500);
    @include flex(center, center);
    background-color: $primary-color;
    padding: 20px;
    min-width: 300px;
  }

}