@import "../../../styles/scss/shared";

.dropList {
  width: 265px;
  padding: 8px 20px;
  background-color: #ffffff;
  border-radius: $border-radius;
  @include font-source-sans(12px, #000, 500);
  margin-bottom: 20px;
  
  &__header {
    @include flex(space-between, center);
  }

  &__arrowDown{
    border: solid #3c3c3c;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  &__list {
    padding: 0;
    height: 75px;
    overflow-y: scroll;

      &_close {
        display: none;
      }

      &::-webkit-scrollbar-track {
        background-color: $primary-color;
        border-radius: 2px;
      }

      &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
        border-radius: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background-color:  #E0E9F2;
        border-radius: 2px;
      ;
      }
  }

  &__item{
    margin-bottom: 12px;
    list-style:none
  }

}
