@import "src/shared/styles/scss/shared";

.button {
    border-radius: $border-radius;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    padding: 10px 106px;

  &-basic {
    border: none;
    background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    @include font-source-sans(false, #FFFFFF, 700);
  }


}

