@import "../styles/scss/shared";

.customRadio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio {
  cursor: pointer;
  @include flex(start, center);
  margin-bottom: 10px;
  &::before{
      content: '';
      display: inline-block;
      //border: 1px solid #adb5bd;
      width: 23px;
      height: 23px;
      border-radius: 7px;
      background-color: #DEDEDE;
    }

  &__text{
    margin-left: 12px;
  }

}

.customRadio:checked+.radio::before{
  box-sizing: border-box;
  background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
  border: 3px solid #DEDEDE ;
}